name: Automatisation de la production
run-name: ${{ github.actor }} vient de push
on: [push]
env:
  XDEBUG_MODE: coverage
jobs:
  Install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Composer install
        uses: php-actions/composer@v6

      #- uses: php-actions/phpunit@v3
       # with:
        #  php_extensions: gd sqlite3 dom json libxml mbstring tokenizer xml xmlwriter zip xdebug
         # version: 9.6.11
          #configuration: phpunit.xml

      - name: PHP Code Sniffer
        uses: php-actions/phpcs@v1
        with:
          php_version: 8.1
          path: ./lib/
          standard: phpcs.xml

      - name: PHP Mess Detector
        if: always() # Pour continuer, même si cela renvoie une erreur
        uses: php-actions/phpmd@v1
        with:
          php_version: 8.1
          path: ./lib/
          output: text
          ruleset: ruleset.xml

      - uses: php-actions/phpstan@v3
        if: always()
        with:
          path: ./tst/
  Tests:
    needs: Install
    runs-on: ubuntu-latest
    steps:
      #- run: make test
      - run: vendor/bin/phpunit tst

      #- run: vendor/bin/phpunit –coverage-text=coverage_test.txt
